<!DOCTYPE html>
<html>
  <head>
    <title>SDCCD Class Planner</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

    <script src="sdccd.js"></script>
    <link href="style.css" rel="stylesheet">
  </head>

  <body ng-app="ClassPlan">

    <!--
    <div class="jumbotron">
      <h1>SDCCD Class Planner</h1>
    </div>
    -->

    <table ng-controller="TableCtrl"
           class="table table-bordered">

      <thead>
        <td></td>
        <th class="day" ng-repeat="day in days">{{day}}</th>
      </thead>

      <tr ng-repeat="time in times">
        <th class="time">{{time}}</th>
        <td ng-repeat="day in days">
          <div class="fill" ng-style="classBlock[day][time]"></div>
        </td>
      </tr>
    </table>

  </body>
</html>
