<!DOCTYPE html>
<html>
  <head>
    <title>SDCCD Class Planner</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js"></script>

    <script src="sdccd.js"></script>
    <link href="style.css" rel="stylesheet">
  </head>

  <body ng-app="ClassPlan">

    <!--
    <div class="jumbotron">
      <h1>SDCCD Class Planner</h1>
    </div>
    -->



    <!--
    classes[id] = {
        label: label,
        days: days,
        start: start,
        end: end,
        color: color
    };
    -->

    <div ng-controller="InputCtrl" class="class-input">
      <h1>Enter your classes</h1>
      <table>
        <thead>
          <th>Label</th>
          <th>Days</th>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Color</th>
        </thead>
        <tr ng-repeat="class in schedule">
          <td>
            <textarea ng-model="class.label"></textarea>
          </td>
          <td>
            <span ng-repeat="day in 'MTWRF'">
              <input type="checkbox">{{day}}
            </span>
          </td>
          <td>
            <input type="time">
          </td>
          <td>
            <input type="time">
          </td>
          <td>
            <input type="color">
          </td>
          <td>
            <button title="Delete Class" class="del-btn">&times;</button>
          </td>
        </tr>
        <tr>
          <td colspan="5">
            <button class="add-btn">Add a Class</button>
          </td>
        </tr>
      </table>
    </div>

    <div style="height: 40px"></div>

    <table ng-controller="TableCtrl" class="calendar">

      <thead>
        <td></td>
        <th class="day" ng-repeat="day in days">{{day}}</th>
      </thead>

      <tr ng-repeat="time in times">
        <th class="time">{{time}}</th>
        <td ng-repeat="day in days" ng-init="block=classBlock[day][time]">
          <div class="fill" ng-style="block.style">
            <p>{{block.label}}</p>
          </div>
        </td>
      </tr>
    </table>

  </body>
</html>
