body {
  font-family: Arial, sans-serif;
  text-align: center;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}


/* CLASS INPUT */
.class-input thead {
}

/* grid */
.class-input td {
  height: 50px;
  position: relative;
}

.class-input td, .class-input th {
  border: 1px solid #222;
  padding: 5px 10px;
}

.class-input .add-btn {
  padding: 10px;
}

.class-input .del-btn {
  font-size: large;
}

/* CALENDAR */

/* first row */
.calendar thead {
  background-color: #aaa;
}

/* grid */
.calendar td {
  padding: 0 !important;
  height: 50px;
  position: relative;
}

.calendar td, .calendar th {
  border: 1px solid #666;
}

/* first column */
.time {
  width: 50px;
  min-width: 50px;
}

/* other columns */
.day {
  width: 100px;
  min-width: 100px;
}

/* class block */
.fill {
  width: 100px;
  position: absolute;
  z-index: 1; /* hide grid lines */
  border-radius: 5px;
  opacity: 0.9;

  /* set in template: height, background-color, border */
  display: table;
}

/* block label */
.fill p {
  display: table-cell;
  vertical-align: middle;
  white-space: pre-wrap;
  font-weight: bold;
}
