body {
  font-family: Arial, sans-serif;
  text-align: center;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

/* labels */
th {
}

/* grid */
td {
  padding: 0 !important;
  height: 50px;
  position: relative;
}

td, th {
  border: 1px solid #666;
}

/* first row */
thead {
  background-color: #aaa;
}

/* first column */
.time {
  width: 50px;
  min-width: 50px;
}

/* other columns */
.day {
  width: 100px;
  min-width: 100px;
}

/* class block */
.fill {
  width: 100px;
  position: absolute;
  z-index: 1; /* hide grid lines */
  border-radius: 5px;

  /* set in template: height, background-color, border */
  display: table;
}

/* block label */
.fill p {
  display: table-cell;
  vertical-align: middle;
  white-space: pre-wrap;
}
